body {
    background-image:url("https://s-media-cache-ak0.pinimg.com/564x/5b/af/ec/5bafec65a23571be0554473e6596a78d.jpg");
    background-repeat: no-repeat;
    background-size: 1500px 700px;
}

h1 {
	font-size:40px;
    font-family: ALGERIAN, serif;
    color: white;
    padding: 80px;
}

p {
	font-family: Times New Roman;
	color: white;
    font-size: 27px;
    padding-top: -40px;
    padding: -40px;
    padding-bottom: -50px;
}

div {
    border-radius: 5px;
    float: center;
}

#header{
	 height: 50px;
    width: 300px;
    background-color: teal;
    float: center;
    padding:7px ;
}

h3{
	color: white;
	font-family: georgia;
}

a {
    color: white;
    font-family: Georgia;
}



.dropdown {
    position: relative;
    display: inline-block;
    padding-left: -100px; 
    padding-top: 10px; 

}






